<div class="getStuffBox">
	<div class="getStuffTitleBox">
		<h3 class="getStuffTitle">THE THING</h3>
	</div>
	<div class="getStuffContentMap">
		<p>THIS IS WHERE GOOGLE MAPS GOES</p>
	</div>
	<div class="getStuffContentBox">
		<div class="getStuffContentText">
			<p>Category: </p>
			<p>Description: </p>
			<p>Dates Claimed: </p>
			<p>Payment Status: </p>
			<p>Check this box upon receiving the items: <input type="checkbox" class="form-check-input" id="getCheckbox"></p>
		</div>
		<div class="getStuffContentSubtextBox">
			<div class="getStuffContentSubtext">
				<h6 class="getStuffContentSubtextText">Contact Giver</h6>
			</div>
			<div class="getStuffContentSubtext">
				<h6 class="getStuffContentSubtextText">Abandon Claim</h6>
			</div>		
		</div>
	</div>
</div>