#firstImage {
	background-image: url('ParkBackground.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100% 620px;
	margin-top: 40px;
	position: static;
	height: 700px;
}

.firstImageTextBox {
	position: relative;
	padding-top: 140px;
	color: white;
	z-index: 0;
}

.firstImageTopText {
	padding-left: 40px;
	padding-top: 80px;
	z-index: 0;
}

.firstImageBottomText {
	padding-left: 69%;
	padding-top: 50px;
	z-index: 0;
}

#firstBlurbBox {
	height: 300px;
}

.blurbTitle {
	font-size: 5.0rem;
	margin-bottom: 20px;
}

.firstBlurbOne {
	width: 50%;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
}

.firstBlurbTwo {
	width: 50%;
	float: right;
	padding-left: 40px;
	padding-right: 40px;
}

body {
	background: #FAF0E6;
}

.pageFrame {
	background: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 60px;
	float: left;
	width: 90%;
}

.websiteName {
	font-size: 9.0rem;
	text-shadow: 2px 2px 4px #000000;
	margin-top: 20px;
}

.websiteSubOne {
	font-size: 3.0rem;
	margin-top: 40px;
	margin-left: 27%
}

.websiteSubTwo {
	font-size: 3.0rem;
	margin-left: 37%;
	margin-top: 20px;
}

.imageBannerOne {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 170px;
	clear: both;
}

.imageBannerTwo {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 170px;
	clear: both;
}

#bannerOne {
	background: red;
	width: 33%;
	float: left;
	height: 150px;
	background-image: url("BannerOne.jpg");
	background-size: 100% 170px;

}

#bannerTwo {
	background: green;
	width: 34%;
	float: left;
	height: 150px;
	background-image: url("BannerTwo.jpeg");
	background-size: 100% 170px;
}

#bannerThree {
	background: red;
	width: 33%;
	float: left;
	height: 150px;
	background-image: url("BannerThree.jpg");
	background-size: 100% 170px;
}

#bannerFour {
	background: red;
	width: 33%;
	float: left;
	height: 150px;
	background-image: url("BeachImage.jpg");
	background-size: 100% 170px;
}

#bannerFive {
	background: red;
	width: 33%;
	float: left;
	height: 150px;
	background-image: url("BeachImage.jpg");
	background-size: 100% 170px;
}

#bannerSix {
	background: red;
	width: 33%;
	float: left;
	height: 150px;
	background-image: url("BeachImage.jpg");
	background-size: 100% 170px;
}