<div class="registrationFrame">
		<div class="loginBox">
  			<div class="form-group" id="registrationFieldBox">
    			<label for="usernameRegistrationField">Username</label>
    			<input type="password" class="form-control" id="usernameRegistrationField" placeholder="Username">
  			</div>
  			<div class="form-group" id="registrationFieldBox">
    			<label for="passwordRegistrationField">Password</label>
    			<input type="password" class="form-control" id="passwordRegistrationField" placeholder="Password">
  			</div>
  			<div class="registrationPageButtonBox">
				<h6 class="registrationPageButtonText">Submit</h6>
			</div>
  			

		</div>
	</div>