	<div class="pageFrame">
		<div class="searchPageHeader">
			<h3>Search for Gets</h3>
		</div>
		<hr class="searchPageTitleSplit">
		<div>
			<input type="text" class="form-control" id="searchPageInput" placeholder="Where are you looking?" aria-describedby="basic-addon2">
			<p id="searchPageOutput">Showing results for: RENDER SEARCH TEXT HERE</p>
		</div>
		<div class="searchPageMapBox">
			<h2>GOOGLE MAPS HERE</h2>
		</div>
		<div>
			CARDS FROM HERE ONE OUT
		</div>
	</div>
	
