<div id="firstImage">
		<div class="firstImageTextBox">
			<div class="firstImageTopText">
				<h3>Why stress,</h3>
				<h3>when you can just...</h3>
			</div>
			<div class="firstImageBottomText">
				<h1>ReLacks</h1>
			</div>
		</div>
	</div>
	<div id="firstBlurbBox">
		<div class="firstBlurbOne">
			<div class="firstBlurbOneTitle">
				<h1>HOOCHIE MAMA</h1>
			</div>
			<div class="firstBlurbOneText">
				<p>scudfhaefuhaf afhafou afuoghf ahfuhaof hawu af af  aefaef af ea aef aef afgaegf</p>
				<p>scudfhaefuhaf afhafouas sada fe gsgdagf sdgsf gs dgs  gssdgsdg sdg sdg sdg sdg sdg sdg afuoghf ahfuhaof hawu af af  aefaef af ea aef aef afgaegf</p>
			</div>
		</div>
		<div class="firstBlurbTwo">
			<div class="firstBlurbTwoTitle">
				<h1>HOOCHIE MAMA</h1>
			</div>
			<div class="firstBlurbTwoText">
				<p>scudfhaefuhaf afhafou afuoghf ahfuhaof hawu af af  aefaef af ea aef aef afgaegf</p>
				<p>scudfhaefuhaf afhafouas sada fe gsgdagf sdgsf gs dgs  gssdgsdg sdg sdg sdg sdg sdg sdg afuoghf ahfuhaof hawu af af  aefaef af ea aef aef afgaegf</p>
			</div>
		</div>
	</div>
	<div id="secondImage">
		<div class="secondImageTextBox">
			<div class="secondImageTopText">
				<h3>Why stress,</h3>
				<h3>when you can just...</h3>
			</div>
			<div class="secondImageBottomText">
				<h1>ReLacks</h1>
			</div>
		</div>
	</div>