<div class="profileFrame">
	<div class="profileHeader">
		<div class="profileHeaderPictureBox">
			<img src="ProfilePicPlaceholder.png" class="profileHeaderPicture">
		</div>
		<div class="profileHeaderInfo">
			<h1 class="profileHeaderName">firstName lastName</h1>
		</div>
	</div>
	<div class="giveGetTrackerBox">
		<p>Gives: </p>
		<p>Gets: </p>
	</div>
	<div class="myStuffFrame">
		<h3 class="myGives">MY GIVES</h3>
			{{> giveCard}}
		<h3 class="myGets">MY GETS</h3>
			{{> getCard}}
	</div>
	<div class="personalInfoBox">
		<p>EXAMPLE: </p>
		<p>EXAMPLE: </p>
		<p>EXAMPLE: </p>
		<p>EXAMPLE: </p>
	</div>
</div>
	
