<div class="giveStuffBox">
	<div class="giveStuffTitleBox">
		<h3 class="giveStuffTitle">THE THING</h3>
	</div>
	<div class="giveStuffContentMap">
		<p>THIS IS WHERE GOOGLE MAPS GOES</p>
	</div>
	<div class="giveStuffContentBox">
		<div class="giveStuffContentText">
			<p>Category: </p>
			<p>Description: </p>
			<p>Dates Claimed: </p>
		</div>
		<div class="giveStuffContentSubtextBox">
			<div class="giveStuffContentSubtext">
				<h6 class="giveStuffContentSubtextText">Contact Getter</h6>
			</div>
			<div class="giveStuffContentSubtext">
				<h6 class="giveStuffContentSubtextText">Remove Listing</h6>
			</div>			
		</div>
	</div>
</div>