<div class="giveStuffBox">
	<div class="giveStuffTitleBox">
		<h3 class="giveStuffTitle">THE THING</h3>
	</div>
	<div class="giveStuffContentBox">
		<div class="giveStuffContentText">
			<p>Category: </p>
			<p>Description: </p>
			<p>Dates Claimed: </p>
		</div>
	</div>
	<div class="giveStuffContentMap">
		
	</div>
</div>