<!DOCTYPE html>
<html>
<head>
	<title>ReLacks</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  {{#if login}}
    <body>
      {{>navbar}}
  {{else}}
    <div class="header">
		<div class="titleBox">
			<h1>ReLacks</h1>
		</div>
		<div class="routesBox">
			<div class="routesHolder">
				<p>SIGN IN</p>
			</div>
			<div class="routesHolder">
				<p>NOT A MEMBER? REGISTER</p>
			</div>
		</div>
	</div>
    {{/if}} 
